body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top left, #65E5C2, #68A3F5, #FC66F0);
}

.centered-content {
    padding: 35px;
    border-radius: 20px;
    background: white;
}

.preferences-container {
    display: flex;
    align-content: stretch;
    height: 100%;
    width: 100%;
    max-height: 800px;
    max-width: 1200px;
    border-radius: 20px;
    background: white;
}

.entertainment {
    flex: 1;
    padding: 42px;
    min-width: 300px;
}

.choices {
    display: flex;
    flex-direction: column;
}

.choices button {
    margin-bottom: 10px;
}

.food {
    flex: 1;
    padding: 42px;
}

#group-button {
    margin-top: 200px;
    float: right;
}

#green-text {
    color: rgb(0, 209, 178);
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

